In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('uefa_club_coefficients_2013_2018.csv')
df2 = pd.read_csv('uefa_club_coefficients_2018_2023.csv')

In [5]:
df1.head()

              Team Country  13/14  14/15  15/16  16/17  17/18
0      Real Madrid     Esp   35.0   29.0   33.0   33.0   32.0
1  Atlético Madrid     Esp   33.0   22.0   28.0   29.0   28.0
2   Bayern München     Ger   27.0   28.0   29.0   22.0   29.0
3     FC Barcelona     Esp   24.0   34.0   26.0   23.0   25.0
4         Juventus     Ita   23.0   29.0   18.0   33.0   23.0

In [6]:
df2.head()

              Team Country  18/19  19/20  20/21  21/22  22/23
0  Manchester City     Eng   25.0   25.0   35.0   27.0   33.0
1   Bayern München     Ger   20.0   36.0   27.0   26.0   27.0
2          Chelsea     Eng   30.0   17.0   33.0   25.0   21.0
3        Liverpool     Eng   29.0   18.0   24.0   33.0   19.0
4      Real Madrid     Esp   19.0   17.0   26.0   30.0   29.0

Para hacer una predicción de lo que pueda pasar este año, hay muchos equipos que simplemente ya no nos interesan, el resto los vamos a dropear

In [7]:
equipos_en_pie = ['Real Madrid','Atlético Madrid','Arsenal',
                  'PSV Eindhoven','Bayern München','FC København',
                  'Napoli','Internazionale','Real Sociedad',
                  'Lazio','Borussia Dortmund','Paris Saint-Germain',
                  'Manchester City','RB Leipzig','FC Barcelona','FC Porto']

In [11]:
filtered_df1 = df1[df1['Team'].isin(equipos_en_pie)]
    
filtered_df1

                   Team Country  13/14  14/15  15/16  16/17  17/18
0           Real Madrid     Esp   35.0   29.0   33.0   33.0   32.0
1       Atlético Madrid     Esp   33.0   22.0   28.0   29.0   28.0
2        Bayern München     Ger   27.0   28.0   29.0   22.0   29.0
3          FC Barcelona     Esp   24.0   34.0   26.0   23.0   25.0
6   Paris Saint-Germain     Fra   25.0   21.0   24.0   20.0   19.0
7       Manchester City     Eng   19.0   15.0   26.0   18.0   22.0
8               Arsenal     Eng   18.0   20.0   15.0   19.0   21.0
9     Borussia Dortmund     Ger   22.0   18.0   17.0   22.0   10.0
10             FC Porto     Por   16.0   25.0   11.0   17.0   17.0
16               Napoli     Ita   16.0   22.0   13.0   17.0   10.0
35                Lazio     Ita   10.0    NaN   14.0    NaN   17.0
39        PSV Eindhoven     Ned    5.0    6.0   18.0    6.0    1.0
42         FC København     Den    7.0    3.0    1.0   16.0    7.0
69        Real Sociedad     Esp    5.0    1.5    NaN    NaN    9.0
77           RB Leipzig     Ger    NaN    NaN    NaN    NaN   17.0
82       Internazionale     Ita    NaN   12.0    NaN    4.0    NaN

In [12]:
filtered_df2 = df2[df2['Team'].isin(equipos_en_pie)]
    
filtered_df2

                   Team Country  18/19  19/20  20/21  21/22  22/23
0       Manchester City     Eng   25.0   25.0   35.0   27.0   33.0
1        Bayern München     Ger   20.0   36.0   27.0   26.0   27.0
4           Real Madrid     Esp   19.0   17.0   26.0   30.0   29.0
5   Paris Saint-Germain     Fra   19.0   31.0   24.0   19.0   19.0
8          FC Barcelona     Esp   30.0   24.0   20.0   15.0    9.0
10       Internazionale     Ita   15.0   25.0    9.0   18.0   29.0
13    Borussia Dortmund     Ger   18.0   18.0   22.0   10.0   18.0
14      Atlético Madrid     Esp   20.0   22.0   16.0   19.0    8.0
15           RB Leipzig     Ger    5.0   27.0   17.0   17.0   18.0
18               Napoli     Ita   18.0   19.0   10.0    9.0   25.0
19             FC Porto     Por   23.0    7.0   23.0   10.0   18.0
22              Arsenal     Eng   26.0   10.0   23.0    NaN   17.0
40        PSV Eindhoven     Ned    6.0    6.0   10.0   10.0   11.0
41                Lazio     Ita    6.0    4.0   17.0    9.0    6.0
43         FC København     Den    4.0   14.0    2.5   13.0    7.0
51        Real Sociedad     Esp    NaN    NaN    8.0    9.0   16.0

In [13]:
filtered_df1.sort_values(by='Team', inplace=True)
filtered_df2.sort_values(by='Team', inplace=True)

C:\Users\mglez\AppData\Local\Temp\ipykernel_14652\2461614072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df1.sort_values(by='Team', inplace=True)
C:\Users\mglez\AppData\Local\Temp\ipykernel_14652\2461614072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df2.sort_values(by='Team', inplace=True)

In [14]:
filtered_df1

                   Team Country  13/14  14/15  15/16  16/17  17/18
8               Arsenal     Eng   18.0   20.0   15.0   19.0   21.0
1       Atlético Madrid     Esp   33.0   22.0   28.0   29.0   28.0
2        Bayern München     Ger   27.0   28.0   29.0   22.0   29.0
9     Borussia Dortmund     Ger   22.0   18.0   17.0   22.0   10.0
3          FC Barcelona     Esp   24.0   34.0   26.0   23.0   25.0
42         FC København     Den    7.0    3.0    1.0   16.0    7.0
10             FC Porto     Por   16.0   25.0   11.0   17.0   17.0
82       Internazionale     Ita    NaN   12.0    NaN    4.0    NaN
35                Lazio     Ita   10.0    NaN   14.0    NaN   17.0
7       Manchester City     Eng   19.0   15.0   26.0   18.0   22.0
16               Napoli     Ita   16.0   22.0   13.0   17.0   10.0
39        PSV Eindhoven     Ned    5.0    6.0   18.0    6.0    1.0
6   Paris Saint-Germain     Fra   25.0   21.0   24.0   20.0   19.0
77           RB Leipzig     Ger    NaN    NaN    NaN    NaN   17.0
0           Real Madrid     Esp   35.0   29.0   33.0   33.0   32.0
69        Real Sociedad     Esp    5.0    1.5    NaN    NaN    9.0

In [15]:
filtered_df2

                   Team Country  18/19  19/20  20/21  21/22  22/23
22              Arsenal     Eng   26.0   10.0   23.0    NaN   17.0
14      Atlético Madrid     Esp   20.0   22.0   16.0   19.0    8.0
1        Bayern München     Ger   20.0   36.0   27.0   26.0   27.0
13    Borussia Dortmund     Ger   18.0   18.0   22.0   10.0   18.0
8          FC Barcelona     Esp   30.0   24.0   20.0   15.0    9.0
43         FC København     Den    4.0   14.0    2.5   13.0    7.0
19             FC Porto     Por   23.0    7.0   23.0   10.0   18.0
10       Internazionale     Ita   15.0   25.0    9.0   18.0   29.0
41                Lazio     Ita    6.0    4.0   17.0    9.0    6.0
0       Manchester City     Eng   25.0   25.0   35.0   27.0   33.0
18               Napoli     Ita   18.0   19.0   10.0    9.0   25.0
40        PSV Eindhoven     Ned    6.0    6.0   10.0   10.0   11.0
5   Paris Saint-Germain     Fra   19.0   31.0   24.0   19.0   19.0
15           RB Leipzig     Ger    5.0   27.0   17.0   17.0   18.0
4           Real Madrid     Esp   19.0   17.0   26.0   30.0   29.0
51        Real Sociedad     Esp    NaN    NaN    8.0    9.0   16.0

In [16]:
filtered_df1.to_csv('uefa_club_coefficients_2013_2018_filtered.csv', index=False)
filtered_df2.to_csv('uefa_club_coefficients_2018_2023_filtered.csv', index=False)